server:
  servlet:
    context-path: ${CONTEXT_PATH:/}
  forward-headers-strategy: framework

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs: 
    path: /v3/api-docs

spring:
  application:
    name: quicklib

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info

info:
  version: ${VERSION_NAME:unknown}

# Client configuration properties
client:
  url: ${CLIENT_URL}
  proxy-secret: ${PROXY_SECRET:}
