services:
  quicklib-backend:
    container_name: quicklib-backend
    image: ghcr.io/aimarchirico/quicklib:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      CONTEXT_PATH: /quicklib
      SPRING_DATASOURCE_URL: jdbc:postgresql://quicklib-db:5432/quicklib
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      FRONTEND_URL: ${FRONTEND_URL}
    volumes:
      - ./firebase-service-account.json:/app/config/firebase-service-account.json:ro
    depends_on:
      - quicklib-db
    restart: always
  quicklib-db:
    container_name: quicklib-db
    image: postgres:17
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: quicklib
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
volumes:
    pgdata: {}